# This group is read both both by the client and the server
# use it for options that affect everything
[client-server]

# This group is read by the server
[mysqld]

# Bind to IPv4 and IPv6
bind_address = ::

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links = 0

# Set safe tmpdir
tmpdir = /var/tmp/mysqld

# Include all files from the config directory
!includedir /etc/my.cnf.d

# NK: We need 2 lines after the above statement, or it results in errors about /etc/my.cnf.???