; Copyright (c) 2022-2025, AllWorldIT.
;
; Permission is hereby granted, free of charge, to any person obtaining a copy
; of this software and associated documentation files (the "Software"), to
; deal in the Software without restriction, including without limitation the
; rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
; sell copies of the Software, and to permit persons to whom the Software is
; furnished to do so, subject to the following conditions:
;
; The above copyright notice and this permission notice shall be included in
; all copies or substantial portions of the Software.
;
; THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
; IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
; FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
; AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
; LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
; FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
; IN THE SOFTWARE.


[mariadbd]

; Make sure we don't store files in /tmp
tmpdir = /var/tmp/mariadb

; Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links = 0

; File per table
innodb-file-per-table

innodb-buffer-pool-size = 128M

net-write-timeout = 6000
net-read-timeout = 6000

; Strict mode so we don't silently ignore errors
sql-mode = STRICT_ALL_TABLES

; Listen on port 3306
bind-address = *

; Clustering variables, set to reasonable defaults
wsrep_provider = /usr/lib/galera/libgalera_smm.so
wsrep_sst_method = mariabackup


[sst]

sst-log-archive-dir = /var/tmp/mariadb/sst_log_archive


[mariadb]

max-allowed-packet = 1G
